@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&family=Unica+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import "tailwindcss";

@import "highlight.js/styles/github-dark.min.css";


@theme {
    --font-poppins: "Poppins",
        sans-serif;
    --font-over: "Overpass Mono",
        monospace;
    --font-press: "Press Start 2P",
        system-ui;
    --font-gruppo: "Gruppo", sans-serif;
    --font-unica: "Unica One", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --font-playfair: "Playfair",
        serif;
    --font-nunito: "Nunito",
        sans-serif;
    --font-mulish: "Mulish",
        sans-serif;
    --font-cinzel: "Cinzel",
        serif;
    --font-dm: "DM Serif Display",
        serif;
}


.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #24282c transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 116, 139, 0.4);
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0.5);
        opacity: 0.3;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }
}

.dot {
    animation: bounce 1s infinite;
}

.dot.delay-0 {
    animation-delay: 0s;
}

.dot.delay-200 {
    animation-delay: 0.2s;
}

.dot.delay-400 {
    animation-delay: 0.4s;
}

.subtle-blue-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 139, 0.4);
    /* Slight vertical offset (5px) and a dark navy blue (0, 0, 139) with 40% opacity */
}

@keyframes rotateShadow {
    0% {
        box-shadow: 0 0 40px 10px rgba(1, 141, 255, 0.45);
    }

    25% {
        box-shadow: 0 0 50px 15px rgba(2, 139, 252, 0.596);
    }

    50% {
        box-shadow: 0 0 60px 20px rgba(2, 139, 252, 0.747);
    }

    75% {
        box-shadow: 0 0 60px 15px rgba(1, 139, 252, 0.89);
    }

    100% {
        box-shadow: 0 0 50px 15px rgba(2, 139, 252, 0.596);
    }
}

.animate-rotating-shadow {
    animation: rotateShadow 3s linear infinite;
}

.features div,
.features .link-feature {
    cursor: pointer;
    margin: 0px 8px 0px 8px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid transparent;
}

.features div:hover ,
.features .link-feature:hover{
    background: rgba(107, 114, 128, 0.2);
    border: 1px solid rgba(128, 128, 128, 0.452);
}

/* From Uiverse.io by david-mohseni */ 
.loader {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(173, 168, 168);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
